.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 240px;
  margin: 0 0 50px 0;
  padding: 30px;
  font-family: system-ui, -apple-system, "BlinkMacSystemFont",
  "Segoe UI", "Roboto";
  border-radius: 4px;
  position: relative;
  box-shadow: 0 0 12px rgba(0, 0, 0, .1);
  overflow: hidden;
  box-sizing: border-box;
}

.container > div {
  flex-basis: 60%;
}

.heading {
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}

.form {
  display: block;
  flex-basis: 35%;
  margin: 0;
  text-align: center;
}

.form:before {
  display: block;
  content: "📩";
  margin-bottom: 40px;
  font-size: 80px;
  line-height: 90px;
  text-align: center;
}

.container p {
  font-size: 16px;
  margin: 0;
  padding: 10px 0;
}

.container input {
  width: 100%;
  height: 48px;
  margin-bottom: 20px;
  padding: 0 10px;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
}

.btn {
  width: 100%;
  background-color: #da9b38;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 600px) {
  .container {
    display: block;
  }

  .heading:before {
    content: "📩";
    margin-right: 10px;
    font-size: 26px;
  }

  .form {
    margin-top: 25px;
  }

  .form:before {
    display: none;
  }
}
