.NewsletterLink {
  font-size: 16px;
  line-height: 20px;
}

.NewsletterLink:before {
  content: "📩";
  margin-right: 10px;
  font-size: 26px;
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  .NewsletterLink {
    font-size: 15px;
    line-height: 24px;
  }

  .NewsletterLink:before {
    font-size: 22px;
  }
}
